.card-pile {
  display: inline-block;
  width: 20%;
  height: 400px;
  border: 1px solid gray;
}

.dragging
{
  visibility: hidden;
}

#unused {
  /*width: 25%;*/
}

.ability-card {
  display: inline-block;
}

#drag-image
{
  /*background-color: red;
  height: 100px;
  width: 100px;*/
  position: absolute;
}

.invisible
{
  display: none;
}
